{% extends 'shared/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h5 class="text-center text-primary">Change Your Password</h5>
    <div class="container">
        <form method="post" action="{% url 'account_module:change_password' %}">
            {% csrf_token %}
            <div class="row m-2">
                <div class="col">
                    {{ form.as_p }}
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary mt-2 mr-3">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}