{% extends 'shared/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container p-3 m-3">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'account_module:edit-account' %}">Edit Account</a></li>
                <li class="list-group-item"><a href="{% url 'account_module:change_password' %}">Change Password</a></li>
                <li class="list-group-item"><a href="{% url 'order_module:user-orders' %}">Your Orders</a></li>
            </ul>
        </div>
    </div>
{% endblock %}