{% extends 'shared/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container p-3 m-3">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">Edit Account</li>
                <li class="list-group-item"><a href="{% url 'order_module:user-orders'%}">Your Orders</a></li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
    </div>
{% endblock %}