body {
    overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
    overflow-y: auto;
}

.card {
    width: 16rem;
}

#main-title {
    font-family: 'Rock 3D', cursive;
    font-size: 30px;
    /* @import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap'); */
    color: white;
    background-color: rgb(30, 28, 28);
}

.short-description {
    font-family: 'Pushster', cursive;
}

.product-btn a {
    font-size: 13px;
    padding: 2px;
    margin: 0 auto;
}

.product-img {
    width: 100%;
    height: 200px;
    padding: 0;
}

#products-row {
    margin: 1px;
    padding: 0;
    width: 100%;
}

#products-row > div {
    width: 33%;
    padding: 0;
}

#products-filter {
    background-color: #b5179e;
    color: beige;
    width: 100%;
}

#products-filter:hover {
    background-color: #f72585;
}

#product-pagination {
    margin-top: 15px;
    padding: 0;
}

/*product detail*/
#content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.column {
    width: 600px;
    padding: 10px;
}

#featured {
    max-width: 500px;
    max-height: 600px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid black;

}

.thumbnail {
    object-fit: cover;
    max-width: 180px;
    max-height: 100px;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
    border: 2px solid black;

}

.thumbnail:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}

#slide-wrapper {
    max-width: 500px;
    display: flex;
    min-height: 100px;
    align-items: center;
}

#slider {
    width: 440px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

}

#slider::-webkit-scrollbar {
    width: 8px;

}

#slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#slider::-webkit-scrollbar-thumb {
    background-color: #dede2e;
    outline: 1px solid darkgreen;
    border-radius: 100px;
}

#slider::-webkit-scrollbar-thumb:hover {
    background-color: #18b5ce;
}

.arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
}

.arrow:hover {
    opacity: .5;
    width: 35px;
    height: 35px;
}

/*  */
#logo-img {
    width: 20px;
    height: 20px;
}

input[type='radio']:after {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    top: -1.5px;
    left: -1.5px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    top: -1.5px;
    left: -1.5px;
    position: relative;
    background-color: red;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#user-comments {
    margin-top: 15px;
}

/*login*/
#btn-login {
    background-color: cornflowerblue;
}

#btn-login:hover {
    background-color: dodgerblue;
}

#div-form {
    margin: 0 auto
}

.register-div > input {
    display: block;
    width: 100%;
    border-radius: 3px;
    background-color: #e7f0fe;
    height: 40px;
    border: 1px solid gray;
    /*padding: '$input-padding-y $ input-padding-x';*/
 /*40 -some lines elided . . .*/
}