{% extends 'shared/layout.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container mt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-lg-9">
                <!-- products -->
                <div class="row" id="products-row">
                    {% for product in page_obj %}
                        {% include 'includes/products_list_partial.html' with product=product %}
                    {% endfor %}
                </div>
                <!-- end products -->
            </div>
            <div class="col-md-3 col-sm-12 col-lg-3">
                <div class="btn-group d-block">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                            id="products-filter">
                        Order By
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">active products</a>
                        <a class="dropdown-item" href="{% url 'product_module:new-product-list' %}">new products</a>
                        <a class="dropdown-item" href="#">most expensive</a>
                        <a class="dropdown-item" href="#">less price</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'product_module:product-list' %}">no filter</a>
                    </div>
                </div>

                <!-- branding -->
                <ul class="brand list-group mt-3 text-center">
                    <li class="list-group-item active" aria-current="true">Brand</li>
                    {% for brand in brands %}
                        <form>
                            {#                                                {% include 'includes/products_brand_partial.html' with brand=brand %}#}
                            <li class="list-group-item">
                                <input type="checkbox" {% if brand.title in marca_vals %} checked {% endif %}
                                       name="brand" id="{{ brand.title }}">
                                {#                                <a href="{% url 'product_module:product-list' %}?brand={{ brand.title|urlencode }}{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}">#}
                                <label>{{ brand.title }}</label></a>
                            </li>
                        </form>
                    {% endfor %}
                </ul>

                <ul class="dynamic_filter list-group mt-3 text-center">
                    <form>
                        <li class="list-group-item active" aria-current="true">Category</li>
                        {% for category in categories %}
                            {#{% include 'includes/products_category_partial.html' with category=category %}#}
                            <li class="list-group-item">
                                <input type="checkbox" {% if category.title in marca_vals %} checked {% endif %}
                                       id={{ category.title }} name="category">
                                <label>{{ category.title }}</label>
                                {#                                <a href="{% url 'product_module:product-list' %}?category={{ category.title|urlencode }}{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}">{{ category.title }}</a>#}
                            </li>
                            </form>
                            {#<li class="list-group-item"><a href="#">{{ brand.title }}</a></li>#}
                        {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- pagination -->
    {% if is_paginated %}
        <div class="container" id="product-pagination">
            <div class="col-md-6 offset-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="?page=1"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for page in page_obj.paginator.page_range %}
                            {% if page == page_obj.number %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page }}">{{ page }}</a></li>
                            {% elif page > page_obj.number|add:'-2' and page < page_obj.number|add:'2' %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $('input').change(function () {
            var state = document.getElementById(this.id)
            var href = window.location.href
            //console.log(state, state.checked, state.id, state.name)
            if (state.checked === true) {
                if (href.indexOf("?") > -1) {
                    window.location.href = href + "&" + state.name + "=" + state.id;
                } else {
                    window.location.href = href + "?" + state.name + "=" + state.id;
                }
            } else {
                var idx = href.indexOf(state.name + "=" + state.id)
                if (href[idx - 1] === '?') {
                    var new_href = href.split(state.name + "=" + state.id + '&')
                    window.location.href = new_href[0] + new_href[1]
                } else {
                    var new_href = href.split(href[idx - 1] + state.name + "=" + state.id);
                    window.location.href = new_href[0] + new_href[1]
                }
            }
        })

    </script>
{% endblock %}