<footer class="text-light bg-dark py-5">
    <div class="row p-5">
        <div class="col-6 col-md">
            <h5>Brand</h5>
            <ul class="list-unstyled text-small">
                {% for brand in brands %}
                    <li><a class="text-muted"
                           href="{% url 'product_module:product-list-by-brand' brand_name=brand.title %}">{{ brand }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Categories</h5>
            <ul class="list-unstyled text-small">
                {% for category in categories %}
                    <li><a class="text-muted"
                           href="{% url 'product_module:product-list-by-category' category.title %}">{{ category }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Business</a></li>
                <li><a class="text-muted" href="#">Education</a></li>
                <li><a class="text-muted" href="#">Government</a></li>
                <li><a class="text-muted" href="#">Gaming</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>